<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.crm.Mapper.BusinessMapper">

    <select id="find" resultType="com.example.crm.pojo.business.Business">
        select * from tb_business where name like concat('%',#{name},'%')
    </select>

    <select id="getAll" resultType="com.example.crm.pojo.business.Business">
        select * from tb_business
    </select>

    <select id="queryUsers" resultType="com.example.crm.pojo.dept.dept">
        select * from sys_user where user_name like concat('%',#{username},'%') and phonenumber like concat('%',#{phonenumber},'%') and status  like concat('%',#{state},'%')
    </select>

    <delete id="delete" >
        delete from sys_dept where dept_id=#{id}
    </delete>

    <update id="update">
        update sys_dept set dept_name=#{name},leader=#{leader},phone=#{phone},status=#{status} where dept_id=#{id}
    </update>

    <update id="updatePassword">
        update sys_user set password=#{password} where user_name=#{username}
    </update>

</mapper>
